* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

input:focus,
button:focus {
    outline: none;
}

header {
    background-image: url('https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.25rem 0;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

header * {
    z-index: 1;
}

header h1 {
    margin: 0 0 1.875rem;
}

form {
    position: relative;
    width: 31.25rem;
    max-width: 100%;
}

form input {
    border: none;
    border-radius: 3.125rem;
    font-size: 1rem;
    padding: .9375rem 1.875rem;
    width: 100%;
}

form button {
    position: absolute;
    top: -.125rem;
    right: -.125rem;
    border: none;
    border-radius: 3.125rem;
    color: #fff;
    font-size: 1rem;
    padding: .8125rem 1.875rem;
}

.btn {
    background-color: #8d56fd;
    border: none;
    border-radius: .625rem;
    color: #fff;
    padding: .25rem .625rem;
}

ul.songs {
    list-style-type: none;
    padding: 0;
}

ul.songs li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .625rem 0;
}

.container {
    margin: 1.875rem auto;
    max-width: 100%;
    width: 31.25rem;
}

.container h2 {
    font-weight: 300;
}

.container p {
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
}

.centered button {
    transform: scale(1.3);
    margin: .9375rem;
}
